<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :kind %>
  <%#= f.text_field :kind %>
  <%= select_tag :kind, options_for_select(@all_kinds, :selected=>@kinds) %><br />

  <%= f.label :begin_date %>
  <%= f.date_field :begin_date %><br />

  <%= f.label :end_date %>
  <%= f.date_field :end_date %><br />

  <%= collection_check_boxes( :member, :ids, @all_students, :id, :name, checked: @members ) %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
2