<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :member %>
  <%= f.text_field :member %><br />

  <%= f.label :team %>
  <%= f.text_field :team %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

