<%= link_to "Add membership", new_membership_path, class: "button radius" %>

<table>
  <tbody>
    <% @memberships.each do |membership| %>
    <tr>
      <td><h4>membership <%= link_to "##{membership.id}", membership_path(membership.id) %></h4></td>
      <td><%= link_to 'Edit', edit_membership_path(membership), class: "button secondary" %></td>
      <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %> <br /></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @memberships.each do |m| %>
  <%= link_to m.team.name, team_path(m.team) %>: <br />
  <% m.team.members.each do |s| %>
    <%= link_to s.first_name, user_path(s) %><br />
  <% end %><br />
<% end %>
<br />
<br />
<br />

number of memberships: <%= @all_memberships.count %><br /><br />
