<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label "Group Name" %>
    <%= f.text_field :name, value: @group_name %><br>

    <%= f.label "Duration of Group" %>
    <%= f.select(:type) do %>
    <%= content_tag(:option, "Select", readonly: true, disabled: true, selected: true) -%>
      <%= @timeframe.each do |t| -%>
        <%= content_tag(:option, t) %>
      <% end %>
    <% end %><br>

    <%= f.label :begin_date %>
    <%= f.date_field :begin_date %><br>

    <%= f.label :end_date %>
    <%= f.date_field :end_date %><br>

    <%= f.submit %>
  </div>
<% end %>
