<!DOCTYPE html>

<html lang="en">
  <head>
  <title><%= content_for?(:title) ? yield(:title) : "Queue-t" %></title>
  	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <%= stylesheet_link_tag    "application" %>
     <%= javascript_include_tag "vendor/modernizr" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/nav' %>

   <body>  
     <%= yield %>
   </body>
  </html>
